<style>
    body {
        padding: 5% 10%;
    }
    h1 { 
        font-size:3rem; 
    } 
    form input {
        padding: 1rem 4rem;
        margin-top:2rem;
        font-size: 1.4rem;
        background: rgb(215, 245, 229);
    }
    textarea {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.4rem;
        resize: none;
    }
</style>

<h1>Vice Versa</h1>
<br>

<form action={% url 'reverse' %}>
    <textarea id='usertext' rows='10' cols='70' name='usertext'>

    </textarea>
    <br>
    <input type="submit" value="Reverse!">
</form>
